#experience .container {
  padding: 1rem !important;
}

.experience-desktop {
  gap: 1rem;
}

.experience-desktop .role,
.experience-desktop .role button {
  transition: var(--default-transition);
}

.experience-desktop .role,
.experience-desktop .role button:not(:disabled) {
  background-color: var(--element-alternate-background-color);
}

.experience-desktop .role button:not(:disabled) {
  box-shadow: 0 4px 8px var(--drop-shadow-color);
}

.experience-desktop .role.active {
  background-color: var(--element-background-color);
}

.experience-desktop .role .overview {
  gap: 0.5rem;

  & h4 {
    white-space: nowrap;
  }
}

.experience-desktop .details :is(.position, .duration) {
  font-size: 1rem;
  white-space: nowrap;
}
