.experience .container {
  padding: 1rem !important;
}

.experience-desktop {
  --spacing: 1rem;
  gap: 1rem;
}

.experience-desktop .role .overview {
  gap: 0.5rem;

  & h4 {
    white-space: nowrap;
  }
}

.experience-desktop .description.container {
  --role-container-total-height: 495px;
  height: var(--role-container-total-height);
}

.experience-desktop ul {
  gap: 0.15rem;
}
