.experience .container {
  padding: 1rem !important;
}

.experience-desktop {
  gap: 1rem;
}

.experience-desktop .role .overview {
  gap: 0.5rem;

  & h4 {
    white-space: nowrap;
  }
}

.experience-desktop .details :is(.role, .duration) {
  font-size: 1rem;
  white-space: nowrap;
}
