/* anchor tag styling added for case where button and <a> are side by side and I want the styles to carry over */
button,
a:has(svg) {
  background-color: var(--element-background-color);
  border: none;
  border-radius: 0.75rem;
  padding: 0.25rem 1rem;
  font: 500 1rem/1.5 "Ubuntu", sans-serif;
  cursor: pointer;
  transition: var(--fast-transition);

  &:not(:disabled):is(:hover, :active) {
    box-shadow: 0 4px 8px var(--drop-shadow-color);
  }

  &:not(:disabled):active {
    outline: 2px solid var(--primary-color);
  }

  &:disabled {
    background-color: var(--disabled-color);
    box-shadow: none !important;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:has(svg) {
    padding: 0;
  }
}

button svg,
a svg {
  width: 1.5rem;
  vertical-align: middle;
}

/* Setting height and width to avoid svg h/w bug */
button:has(svg),
a:has(svg) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
