button {
  background-color: var(--element-background-color);
  border: none;
  border-radius: 0.75;
  padding: 0.25rem 1rem;
  font: 500 1rem/1.5 "Ubuntu", sans-serif;
  cursor: pointer;
  transition: var(--default-transition);

  &:not(:disabled):is(:hover, :active) {
    box-shadow: 0 4px 8px var(--drop-shadow-color);
  }

  &:not(:disabled):active {
    outline: 2px solid var(--primary-color);
  }

  &:disabled {
    background-color: var(--disabled-colour);
  }

  &:has(svg) {
    padding: 0.25rem;
    height: fit-content;
  }
}

button svg {
  fill: blue;
  width: 1.5rem;
  vertical-align: middle;
}

button:has(svg) {
  border-radius: 50%;
}
