@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Ubuntu:wght@300;400;500;700&display=swap");
:root {
  /* Colors */
  --off-white: #faf9f6;
  --grey: #c4c4c4;
  --dark-grey: #2c2c2c;
  --charcoal: #242424;
  --darkest-grey: #1c1c1c;
  --gradient: linear-gradient(
    var(--gradient-primary),
    var(--gradient-secondary)
  );
  --gradient-primary: var(--off-white);
  --gradient-secondary: #d1e9f6;

  /* Animations */
  --default-transition: all 0.5s ease;
}

/* light mode */
main.light {
  --primary-color: var(--dark-grey);
  --element-background-color: var(--off-white);
  /* TODO:
  * - the gradient colour doesn't transition, it works fine if it is a solid colour, look into fix.
  */
  --main-background-color: var(--gradient);
  --drop-shadow-color: rgba(0, 0, 0, 0.25);
}

/* dark mode */
main.dark {
  --primary-color: var(--off-white);
  --element-background-color: var(--darkest-grey);
  --main-background-color: var(--darkest-grey);
  --drop-shadow-color: rgb(238, 238, 238, 0.25);
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: var(--main-background-color);
  min-height: 100vh;
  transition: var(--default-transition);
  padding-inline: 1rem;
  padding-top: 1rem;
  padding-bottom: 50px; /* temp when building out site */
}

/* Add footer to exceptions */
main > *:not(header) {
  max-width: 800px;
  margin-inline: auto;
}

body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
span,
button {
  color: var(--primary-color);
  transition: var(--default-transition);
}

svg {
  fill: var(--primary-color);
}

h2 {
  font: 600 2rem/1.5 "Space Grotesk", sans-serif;
}

h3 {
  font: 600 1.5rem/1.5 "Space Grotesk", sans-serif;
}

h4 {
  font: 600 1.25rem/1.5 "Ubuntu", sans-serif;
}

p {
  font: 400 1rem/1.5 "Ubuntu", sans-serif;
}

/* Todo: utilise this class across similar components */
.container {
  display: flex;
  flex-direction: column;
  border-radius: 3.125rem;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--element-background-color);
  box-shadow: 0 -1px 1px var(--drop-shadow-color),
    0 4px 4px var(--drop-shadow-color);
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  main {
    padding-inline: 2rem;
  }

  .container {
    padding: 2rem 1rem;
  }
}
