.skills {
  display: flex;
  flex-direction: column;
  border-radius: 3.125rem;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--element-background-color);
  box-shadow: 0 -1px 1px var(--drop-shadow-color),
    0 4px 4px var(--drop-shadow-color);
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .skills {
    padding: 2rem 1rem;
  }
}
