.carousel {
  display: flex;
  align-items: center;
}

.carousel .content {
  --item-width: 50px;
  --gap: 16px;
  --items: 2;

  display: flex;
  overflow: hidden; /* Hide items outside the frame */
  width: calc(
    (var(--item-width) * var(--items)) +
      (calc(var(--gap) * calc(var(--items) - 1)))
  );
}

.carousel .content .items {
  display: flex;
  gap: var(--gap);
  transition: transform 0.3s ease; /* Smooth animation */
}

.carousel .content .item {
  box-sizing: border-box;
  border: 1px solid red;
  width: var(--item-width);
  height: 50px;
  flex-shrink: 0;
}
