.skill-icons {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 0.5rem;
  justify-content: center;
  align-content: center;
}

@media (min-width: 375px) {
  .skill-icons {
    grid-template-columns: repeat(4, max-content);
  }
}
