header {
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding-inline: 32px;
  background-color: var(--element-background-color);
  box-shadow: 0 -1px 1px var(--drop-shadow-color),
    0 4px 4px var(--drop-shadow-color);
  transition: var(--default-transition);
}

header h4 {
  margin-block: 16px;
  font: 700 24px/1.5 "Ubuntu", sans-serif;
  margin-right: auto;
  cursor: pointer;
}

header .nav-buttons {
  display: flex;
  gap: 8px;
}

header .theme-toggle {
  margin-left: 8px;
}
