header {
  position: sticky;
  top: 0px;
  z-index: 100;
  display: flex;
  justify-content: center;
  border-radius: 3.125rem;
  padding: 0.25rem 1rem;
  background-color: var(--element-background-color);
  box-shadow: 0 -1px 1px var(--drop-shadow-color),
    0 4px 4px var(--drop-shadow-color);
  transition: var(--default-transition);
}

/* header-content required for large breakpoints to position header elements correctly */
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}

.header-content .hamburger {
  stroke: var(--primary-color);
}

.header-content .name-nav {
  padding: 0.25rem 0.5rem;
  margin-right: -0.25rem;
  font: 700 1rem/1.5 "Ubuntu", sans-serif;
  cursor: pointer;
}

.header-content .nav-buttons {
  display: none;

  & button {
    font-weight: 600;
  }
}

.header-content .theme-toggle {
  display: none;
}

@media (min-width: 540px) {
  .header-content .theme-toggle {
    display: block;
  }

  .header-content svg {
    width: 1.5625rem;
  }

  .header-content .name-nav {
    font-size: 1.5rem;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .header-content {
    justify-content: flex-start;
    gap: 1rem;
  }

  .header-content .hamburger {
    display: none;
  }

  .header-content .nav-buttons {
    display: flex;
    gap: 0.25rem;
    margin-left: auto;
  }

  /* negative margin to improve alignment on larger breakpoints */
  .header-content .name-nav {
    margin-left: -0.25rem;
  }

  .header-content .theme-toggle {
    margin-right: -0.25rem;
  }
}
