.profile > .logo-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: var(--profile-width);

  & a {
    background-color: unset;
    width: 3rem;
    height: 3rem;
  }

  & svg {
    width: 2rem;
    height: 2rem;
  }
}
